*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(images/q-gen-bg.jpg) no-repeat center center/ cover;
}

.container{
    width: 600px;
    height: 500px;
}

.header{
    font-size: 1.2rem;
    color: black;
    padding: 5px;
    width: 40%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 10px;
}

.content-box{
    width: 100%;
    height: 300px;
    background-color: transparent;
    padding: 10px 0;
}

.text-area{
    font-size: 1.1rem;
    line-height: 1.1;
}

.author{
    font-size: 1rem;
    color: #84126A;
    text-transform: uppercase;
    margin-top: 20px;  
    margin-bottom: 10px;
}

.button-area button{
    padding: 4px 7px;
    background-color: transparent;
    font-size: 1rem;
    border: 1px solid #FE0073;
    color: #FE0073;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button-area button:active{
    background-color:#FE0073;
    color: white;
}
